@font-face{
    font-family: EduNSWACTFoundation-VariableFont_wght.ttf;

    src: url('../fonts/EduNSWACTFoundation-VariableFont_wght.ttf')
}
html{
    scroll-behavior: smooth;
}
    body{
    background-color: 	#F8F8FF ;

}
    .fundo_diferente{
        background-image: linear-gradient( gray, lightgray);
    }
    .img_topo{
        width: 100%;

    }
    .img_corpo{
        width: 40%;
        margin-top: 1%;
        margin-bottom: 1%;
       
    }
        figure{
            text-align: center;
        }

        .container{
            width: 40%;
            margin: auto;
        }
        h1{
            text-align: center;
            width: 85%;
            margin: auto;
            font-family: 'New Rocker', cursive;

        }
        h2,h3{
            width: 80%;
            margin: auto;
            text-align: center;
            margin-bottom: 2%;
            font-family: 'New Rocker', cursive;
        }
        .p{
        
            font-size: 1.8rem;
            color: black;
            text-align: justify;
            text-indent: 40px;
            line-height: 1.5;
            margin-top: 0.2%;
            margin-bottom: 00.2;
            font-family: 'New Rocker', cursive;
            
        }
        .parag_letras > p{
            font-size: 1em;
            line-height: 1.5;
            font-family: 'New Rocker', cursive;

        }
        .pinta_botao{
            width: 150px;
            height: 50px;
            background-color: #F08080;
            margin: auto;
            padding: 0.2%;
            text-align: center;
            padding-top: 3%;
            
        }

        .botao{
            padding-top: 15px;
        }

        footer p{
            padding: 1.2em;
            text-align: center;
            font-family: 'New Rocker', cursive;


        }
        

        .logo{
            padding-top: 1%;
            padding-bottom: 1%;
            text-align: center;
        }
        .menu, footer {
            background-color: rgba(128, 128, 128, 0.4);
            padding: 4%;
            text-align: center;
            font-family: 'Blaka', cursive;
            
            
        
        }

        .item_menu{
            line-height: 1,5;
            text-align: center;

        }
        .item_menu a:link, .item_menu a:visited{
            color: rgb(224, 224, 61);
            text-decoration: none;
        }
        
        .item_menu a:hover{
           color: red;
           padding: 0.8%;
           text-decoration: none;
           border-radius: 15%;
        }
        .item_menu a:active{
            color: indigo;
            text-decoration: none;
        }
        figure{
            text-align: center;
        }
        section{
            margin-top: 2%;
            margin-bottom: 2%;
        }
    
        .testecss{
            display: none;
        }
       
        .pinta_botao:hover{
            background-color: rgba(128, 128, 128, 0.3);
          }
          
          .pinta_botao a:link, .pinta_botao :visited{
            text-align: center;
            text-decoration: none ; 
            font-weight: bolder;
            
          }
        .right{
            float: right;
            margin-right: 2%;
        }
        
        table{
            width: 100%;
            border-collapse: collapse;
            margin-top: 2%;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        td,th{
            border: 2px inset #8B0000;
            text-align: center;
            padding-top: 1%;
            padding-bottom: 1%;
        }
        th{
            font-size: 1.5em ;
            font-weight: bolder; 
        }
        td:first-child{
            width: 40%;
        }
          
        td:first-child + td{
            width: 60%;
        }
        audio{
            width: 75%;
        }
        audio::-webkit-media-controls-panel{
            background-color:rgba(128, 128, 128, 0.3) !important;
            }
          
